<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <link rel="icon" type="image/png" href="/IGLLOGO.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css"
      rel="stylesheet"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"
    ></script>
  </head>
  <body
    class="bg-gray-200"
    onload="toggleErr('{{errmsg}}'); SAPtoggle('{{SAPID}}'); otpToggle('{{toggle}}'); passToggle('{{passopen}}');"
  >
    <div class="py-40">
      <center>
        <div class="md:w-1/2 bg-white shadow-lg rounded-lg">
          <div class="flex px-2 py-2">
            <div class="text-3xl w-full px-2 py-2 flex col-span-1">
              <span>Password Reset</span>
            </div>
            <div class="px-2 py-2">
              <a href="/"><button
                  onclick="giveinfo('close')"
                  class="text-lg font-mono border-2 px-4 rounded-2xl text-center border-gray-300 hover:border-black hover:text-gray-600"
                >
                  x
                </button></a>
            </div>

          </div>
          <hr />
          <form action="{{redirectto}}" method="post" id="resetpass">
            <div class="px-3 py-3 text-left">
              <div class="py-2" id="SAPID">
                <label
                  for="SAPID"
                  class="mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Enter SAP ID</label><br />
                <input
                  type="text"
                  name="SAPID"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Please enter your SAP ID to Reset Password"
                  required
                />
              </div>
              <div class="py-2" id="otp">
                <label
                  for="OTP"
                  class="mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Enter OTP</label><br />
                <input
                  type="text"
                  id="OTP"
                  name="OTP"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Please enter the OTP sent to your Email"
                />
                <p class="text-red-600 hidden" id="err">{{errmsg}}</p>
              </div>
              <div class="py-2" id="NPASS">
                <label
                  for="newpass"
                  class="mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Enter a New Password</label><br />
                <input
                  type="text"
                  id="newpass"
                  name="newpass"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Please enter a New Password"
                />
              </div>
              <div id="message" class="hidden">
                <label class="text-red-600">Password must contain the following:</label><br
                />
                <label class="text-red-600" id="letter">A
                  <b>lowercase</b>
                  letter</label><br />
                <label class="text-red-600" id="capital">A
                  <b>capital (uppercase)</b>
                  letter</label><br />
                <label class="text-red-600" id="number">A
                  <b>number</b></label><br />
                <label class="text-red-600" id="length">Minimum
                  <b>8 characters</b></label><br />
              </div>
              <button
                id="submit"
                type="submit"
                onclick="required('{{passopen}}')"
                class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-3 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </center>
    </div>
  </body>
  {{!-- prettier-ignore --}}
  <script>
    function toggleErr(state) {
      const errElement = document.getElementById("err");
      if (state === "") {
        errElement.style.display = "none";
      } else {
        errElement.style.display = "block";
      }
    }

    function SAPtoggle(ID) {
      const sapInput = document.querySelector("input[name='SAPID']");
      const submitButton = document.getElementById("submit");

      if (ID === "") {
        sapInput.disabled = false;
        sapInput.value = "";
        sapInput.placeholder = "Please enter your SAP ID to Reset Password";
        submitButton.innerHTML = "Submit SAPID";
      } else {
        sapInput.required = true;
        sapInput.disabled = true;
        sapInput.value = ID;
        sapInput.placeholder = ID;
      }
    }

    function required(state) {
      if (state === "open") {
        const password = document.forms["resetpass"]["newpass"].value;
        if (password === "") {
          event.preventDefault();
          alert("The password can't be empty");
        }
      }
    }

    function otpToggle(state) {
      const otpElement = document.getElementById("otp");
      const otpInput = document.getElementById("OTP");
      const submitButton = document.getElementById("submit");

      if (state === "otpopen") {
        otpElement.style.display = "block";
        otpInput.disabled = false;
        submitButton.innerHTML = "Submit OTP";
      } else {
        otpElement.style.display = "none";
        otpInput.required = true;
        otpInput.disabled = true;
        otpInput.placeholder = "OTP Matched";
      }
    }

    function passToggle(state) {
      const passElement = document.getElementById("NPASS");
      const newPassInput = document.getElementById("newpass");
      const submitButton = document.getElementById("submit");

      if (state === "open") {
        passElement.style.display = "block";
        newPassInput.disabled = false;
        submitButton.innerHTML = "Submit New Password";
      } else {
        passElement.style.display = "none";
        newPassInput.required = true;
        newPassInput.disabled = true;
      }
    }
    var myInput = document.getElementById("newpass");
    if (myInput.style.display !== "none") {
      var submitBtn = document.getElementById("submit");
      var letter = document.getElementById("letter");
      var capital = document.getElementById("capital");
      var number = document.getElementById("number");
      var length = document.getElementById("length");
      var isLowercaseValid = false;
      var isUppercaseValid = false;
      var isNumberValid = false;
      var isLengthValid = false;

      myInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
      };

      myInput.onblur = function () {
        document.getElementById("message").style.display = "none";
      };

      myInput.onkeyup = function () {
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
          letter.style.color = "green";
          isLowercaseValid = true;
        } else {
          letter.style.color = "red";
          isLowercaseValid = false;
        }

        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
          capital.style.color = "green";
          isUppercaseValid = true;
        } else {
          capital.style.color = "red";
          isUppercaseValid = false;
        }

        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
          number.style.color = "green";
          isNumberValid = true;
        } else {
          number.style.color = "red";
          isNumberValid = false;
        }

        if (myInput.value.length >= 8) {
          length.style.color = "green";
          isLengthValid = true;
        } else {
          length.style.color = "red";
          isLengthValid = false;
        }

        if (isLowercaseValid && isUppercaseValid && isNumberValid && isLengthValid) {
        submitBtn.disabled = false;
        submitBtn.style.backgroundColor = 'blue';
        } else {
          submitBtn.disabled = true;
          submitBtn.style.backgroundColor = 'gray';
        }
      };
    }

  </script>
</html>